**/package-lock.json
**/yarn.lock
*.DS_Store

.idea
.vscode

sftp-config.json
node_modules/
website/docs/
test/config.json
test/.result
test/temp/*
!test/temp/.gitkeep
build
out
vendor

runtime/client/api/*
!runtime/client/api/.gitkeep
client/c/include/yodaos_api_container.h
client/c/include/yodaos_apis.h
