{
    "plugins": [],
    "recurseDepth": 10,
    "source": {
        "include": [ ],
        "exclude": [ "node_modules", "runtime" ]
    },
    "sourceType": "module",
    "tags": {
        "allowUnknownTags": true,
        "dictionaries": ["jsdoc", "closure"]
    },
    "templates": {
        "cleverLinks": false,
        "monospaceLinks": false
    }
}

