{
  "plugins": [
    "plugins/markdown"
  ],
  "recurseDepth": 10,
  "source": {
    "include": [],
    "exclude": [
      "apps",
      "node_modules",
      "website"
    ]
  },
  "sourceType": "module",
  "tags": {
    "allowUnknownTags": true,
    "dictionaries": ["jsdoc", "closure"]
  },
  "templates": {
    "cleverLinks": false,
    "monospaceLinks": true,
    "showInheritedInNav": true,
    "default": {
      "useLongnameInNav": false
    }
  },
  "opts": {
    "template": "website/template"
  }
}
